/* "Base CSS Styling for the Webpage" */
body {
  font-family: Verdana; sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}
/* "1st Header "Discover hidden places..." - Font weight and size change" */
h1 {
  font-weight: normal;
  font-size: 50px;
}
/* "2nd Header "Your Personal Travel Guide..." - Font weight and size change" */
h2 {
  font-weight: 300;
  font-size: 42px;
}
/* "Pargraph under "Your Personal Travel Guide..." - Font size and color change" */
p {
  font-size: 21px;
  color: gray;
}
/* "Excursion download links" */
.cta {
  color: Aquamarine;
  font-size: 16px;
}
/* "Footer" */
.footer {
  text-align: right;
  color: gray;
}
